*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box{
    margin: 200px;
    width: 200px;
    height: 200px;
    background-color: blue;
    animation: move 10s linear infinite;
}
@keyframes move{
    0%{
        transform: translate(0);
    }
    10%{
        transform: translate(0,300px);
        background-color: chartreuse;
    }
    30%{
        transform: translate(300px,300px) rotate(300deg);
        background-color: 30px;
    }
    50%{
        transform: translate(300px,600px);
        border-radius: 300px;
    }
    70%{
        transform: translate(300px,600px);
    }
    90%{
        transform: translate(300px,0);
        background-color: red;
    }
    100%{
        transform: translate(0);
    }
}